<div class="container">

    <div class="col-md-12  col-12" id="loginn" >
      <p id="wel">Welcome to Books Laboratory </p><br/>
      <img src="https://media2.giphy.com/media/5jYbuITbRUefXNGS1o/giphy.gif" width="45%" style="margin-left:30%;"/><br/><br/>
      <div class="row">
          <div class="col-md-4 col-12">
              <div class="card" routerLink="/book">
                <p id="card1">Add Book</p>
              </div>
          </div>
          <div class="col-md-4 col-12">
              <div class="card" routerLink="/all-book">

                <p id="card2">List of Books</p>
              </div>
          </div>
          <div class="col-md-4 col-12">
              <div class="card" routerLink="/api" >
                <p id="card3">More Books</p>
              </div>
          </div>
      </div>



    </div>
    <button routerLink="/login">Logout</button>
</div>
